<script>
    import {Col, Row} from "sveltestrap";
</script>

<style>
    .lineDesignation {
        text-align: center;
        background-color: #ec7928;
        font-size: 60pt;
    }

    .nextStop {
        font-size: 60pt;
        text-align: center;
    }

    .station {
        text-align: center;
        font-size: 30pt;
    }

    .pearlcord {
        font-weight: bold;
        justify-content: center;
        align-items: center;
        display: flex
    }

    div * {
        height: 100%
    }

    .stationRow {
        height: 8vh;
    }
</style>

<div style="height: 100%">
    <Row style="height: 15vh">
        <Col xs="2">
            <div class="lineDesignation">
                S 41
            </div>
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                O
            </div>
        </Col>
        <Col xs=7>
            <div class="nextStop">
                Katowice
            </div>
        </Col>
        <Col xs="2">

        </Col>
    </Row>
    <Row style="height: 3vh">
        <Col xs="2">
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                |
            </div>
        </Col>
        <Col xs=7>
            Departure: 18:00
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                |
            </div>
        </Col>
        <Col xs=7>
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
            18:04
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                O
            </div>
        </Col>
        <Col xs=7>
            <div class="station">
                Katowice Zawodzie
            </div>
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                |
            </div>
        </Col>
        <Col xs=7>
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
            18:07
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                O
            </div>
        </Col>
        <Col xs=7>
            <div class="station">
                Katowice Szopienice Południowe
            </div>
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                |
            </div>
        </Col>
        <Col xs=7>
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
            18:11
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                O
            </div>
        </Col>
        <Col xs=7>
            <div class="station">
                Sosnowiec Główny
            </div>
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                :
            </div>
        </Col>
        <Col xs=7>
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                :
            </div>
        </Col>
        <Col xs=7>
        </Col>
        <Col xs="2">
        </Col>
    </Row>
    <Row class="stationRow">
        <Col xs="2">
            18:53
        </Col>
        <Col xs="1">
            <div class="pearlcord">
                O
            </div>
        </Col>
        <Col xs=7>
            <div class="station">
                Zawiercie
            </div>
        </Col>
        <Col xs="2" style="text-align: right">
            17:59
        </Col>
    </Row>
</div>
