<h2>About Shion</h2>
A community made FIS app for <a href="https://simrail.eu">SimRail.</a>
This application is currently work in progress, so there's not much to see here right now.
For more info, contact <a href="https://links.sinsa.moe/discord">Sinsa</a>.