<script>
    import Header from "./layout/Header.svelte";
    import Navigation from "./layout/Navigation.svelte";

    import About from './components/About.svelte'
    import Fis from './components/Fis.svelte'
    import FisDisplay from "./lib/FisDisplay.svelte";
    import Foo from './components/Foo.svelte'
    import Home from './components/Home.svelte'

    import {page} from './stores/core'
</script>
<!--When adding new pages, don't forget to add them in stores/core.ts too!-->
{#if $page === 'display'}
    <FisDisplay/>
{:else}

    <body>
    <Header/>
    <Navigation/>

    <div class="page" style="margin-left: 1em">
        {#if $page === 'about'}
            <About/>
        {:else if $page === 'fis'}
            <Fis/>
            <!--{:else if $page === 'foo'}
                <Foo/>-->
        {:else}
            <Home/>
        {/if}
    </div>

    </body>
{/if}
