<script>
    import {Nav, NavLink} from 'sveltestrap';
</script>

<Nav>
    <NavLink href="#/home">Home</NavLink>
    <NavLink href="#/about">About Shion</NavLink>
<!--    <NavLink href="#/fis">Fis</NavLink>-->
<!--    <NavLink href="#/foo">Foo</NavLink>-->
</Nav>